.decision-table-header {
    background-color: #eeeeee;
    text-align: center;
    display: inline-block;
    padding: 3px;
}
.decision-table-col {
    width: 70px;
    display: inline-block;
    text-align: center;
    padding: 3px;
}
.decision-table-col-coach {
    width: 100px;
    text-align: right;
    display: inline-block;
    padding: 3px;
}