<ion-header>
    <ion-toolbar>
        <span slot="start" style="margin-left: 10px;"><img src="assets/imgs/logo.png" height="30" /></span>
        <ion-title style="text-align: center;">Coach Referee App</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false" menu="main"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item detail routerLink="/competition/list">
            <ion-label class="menu-entry">Competitions</ion-label>
        </ion-item>
        <ion-item detail routerLink="/coaching/list">
            <ion-label class="menu-entry">Coach a game</ion-label>
        </ion-item>
        <ion-item detail routerLink="/assessment/list">
            <ion-label class="menu-entry">Assess</ion-label>
        </ion-item>
        <ion-item detail routerLink="/referee/list">
            <ion-label class="menu-entry">Referees</ion-label>
        </ion-item>
        <ion-item detail routerLink="/pro/list">
            <ion-label class="menu-entry">PROs</ion-label>
        </ion-item>
        <ion-item detail routerLink="/xp/list">
            <ion-label class="menu-entry">Coach XP</ion-label>
        </ion-item>
        <ion-item detail routerLink="/settings">
            <ion-label class="menu-entry">Settings</ion-label>
        </ion-item>
        <ion-item detail routerLink="/admin" *ngIf="isLevelAdmin()">
            <ion-label class="menu-entry">Admin</ion-label>
        </ion-item>
        <ion-item (click)="addToHome()" *ngIf="showInstallBtn">
            <ion-label class="menu-entry">Install on device</ion-label>
        </ion-item>
    </ion-list>
    <div *ngIf="notifications && notifications.length > 0">
        <div style="float: right; margin: 5px 10px;">
            <a (click)="closeAllNotifications()">Clear All notifications</a>
        </div>
        <div style="clear: both;"></div>
        <ion-card *ngFor="let not of notifications; let idx=index">
            <ion-card-header color="light">
                <ion-card-title style="font-size: 1.2em;">
                    <div style="float: right;">
                        <ion-icon name="close" (click)="closeNotification(idx)"></ion-icon>
                    </div>
                    <div>{{dateService.datetime2string(not.eventDate)}}</div>
                    <div style="clear: both;"></div>
                </ion-card-title>
            </ion-card-header>
            <ion-card-content style="margin: 5px;" *ngIf="not.sourceShortName">
                <div>{{not.eventMessage}}</div>
                <div style="float: right;">By {{not.sourceShortName}}</div>
                <div style="clear: both;"></div>
            </ion-card-content>
        </ion-card>
    </div>
    <div style="text-align: center; margin-top: 20px;">
        <div style="margin-bottom: 3px;"><a (click)="inviteCoach()">Invite a coach to use the app?</a></div>
        <div>Make sure you trust the people you invite.<br>You answer for him/her.</div>
    </div>
    <div color="light" style="text-align: center; font-size: 0.8em; margin-top: 20px;">Connected as {{getShortName()}}.</div>
</ion-content>