<ion-header>
    <ion-toolbar>
        <span slot="start" style="margin-left: 10px;"><img src="assets/imgs/logo.png" height="30" alt="logo" /></span>
        <ion-title style="text-align: center;">Coach Referee</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false" menu="main"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-header color="light">
            <ion-card-title style="font-size: 1.2em;">
                <div style="float: right;">
                    <mat-icon fontIcon="search" style="transform: scale(2); margin-right: 20px;" routerLink="/competition/list"></mat-icon>
                    &nbsp;
                    <mat-icon fontIcon="add_box" style="transform: scale(2);" routerLink="/competition/-1/edit"></mat-icon>
                </div>
                <div>
                    <div *ngIf="defaultCompetition" routerLink="/competition/{{defaultCompetition.id}}/home">{{defaultCompetition.name}}</div>
                    <div style="font-size: 1.3em; font-weight: bold;" *ngIf="!defaultCompetition">
                        Competitions
                    </div>
                </div>
                <div style="clear: both;"></div>
            </ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-card>
        <ion-card-header color="light">
            <ion-card-title style="font-size: 1.2em;">
                <div style="float: right;">
                    <mat-icon fontIcon="search" style="transform: scale(2); margin-right: 20px;" routerLink="/coaching/list"></mat-icon>
                    &nbsp;
                    <mat-icon fontIcon="add_box" style="transform: scale(2);" routerLink="/coaching/create"></mat-icon>
                </div>
                <div style="font-size: 1.3em; font-weight: bold;" routerLink="/coaching/list">
                    Coaching
                </div>
                <div style="clear: both;"></div>
                <div *ngIf="agenda.length > 0">
                    <div *ngFor="let coaching of agenda" class="coaching-item" routerLink="/coaching/edit/{{coaching.id}}">
                        <span style="font-weight: bold;">{{coaching.timeSlot}}</span>: Field {{coaching.field}}<br> {{coaching.refereeShortNames}}
                    </div>
                </div>
                <div *ngIf="agenda.length === 0" routerLink="/coaching/list">
                    No coaching planified today
                </div>
            </ion-card-title>
        </ion-card-header>
    </ion-card>
    <div style="margin: 5px auto; width: 100%;">
        <app-home-entry name="Assess" link="/assessment/list" icon="playlist_add_check"></app-home-entry>
        <app-home-entry name="Referees" link="/referee/list" icon="person"></app-home-entry>
        <app-home-entry name="PRO Lib" link="/pro/list" icon="local_library"></app-home-entry>
        <app-home-entry name="Coach XP" link="/xp/list" icon="history"></app-home-entry>
    </div>
    <ion-list>
        <ion-item (click)="addToHome()" *ngIf="showInstallBtn">
            <ion-label class="menu-entry">Install on device</ion-label>
        </ion-item>
    </ion-list>
    <div *ngIf="notifications && notifications.length > 0">
        <div style="float: right; margin: 5px 10px;">
            <a (click)="closeAllNotifications()">Clear All notifications</a>
        </div>
        <div style="clear: both;"></div>
        <ion-card *ngFor="let not of notifications; let idx=index">
            <ion-card-header color="light">
                <ion-card-title style="font-size: 1.2em;">
                    <div style="float: right;">
                        <ion-icon name="close" (click)="closeNotification(idx)"></ion-icon>
                    </div>
                    <div>{{dateService.datetime2string(not.eventDate)}}</div>
                    <div style="clear: both;"></div>
                </ion-card-title>
            </ion-card-header>
            <ion-card-content style="margin: 5px;" *ngIf="not.sourceShortName">
                <div>{{not.eventMessage}}</div>
                <div style="float: right;">By {{not.sourceShortName}}</div>
                <div style="clear: both;"></div>
            </ion-card-content>
        </ion-card>
    </div>
    <div class="invite-zone">
        <div style="margin-bottom: 3px;"><a (click)="inviteCoach()">Invite a coach to use the app?</a></div>
        <div>Make sure you trust the people you invite.<br>You answer for him/her.</div>
    </div>
    <div color="light" style="text-align: center; font-size: 0.8em; margin-top: 10px;">Connected as {{getShortName()}}.</div>
</ion-content>