<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="saveNback()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title style="text-align: center;">
            <span *ngIf="competition && !competition.id">Competition Creation</span>
            <span *ngIf="competition && competition.id">Competition Edition</span>
        </ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false" menu="main"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="competition && !loading" (swipe)="onSwipe($event)">
    <ion-list>
        <ion-item>
            <ion-input label="Name:" type="text" [(ngModel)]="name" minlength="1" required="true"></ion-input>
        </ion-item>
        <ion-item id="open-compdate-input">
            <ion-input label="Date:" readonly="true" [value]="dateService.date2string(competition.date)"></ion-input>
            <ion-popover trigger="open-compdate-input" side="bottom" alignment="end" *ngIf="!readonly">
                <ng-template>
                    <ion-datetime #popoverCompDate presentation="date" first-day-of-week="1" (ionChange)="date = '' + popoverCompDate.value"></ion-datetime>
                </ng-template>
            </ion-popover>
        </ion-item>
        <ion-item>
            <ion-input label="Nb days:" type="number" [(ngModel)]="nbDays" min="1" max="10" required="true"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Days:</ion-label>
            <ul>
                <li *ngFor="let day of competition.days">{{dateService.date2string(day)}}</li>
            </ul>
        </ion-item>
        <ion-item>
            <ion-select *ngIf="!readonly" label="Region:" [(ngModel)]="competition.region" style="text-align: center;" interface="action-sheet">
                <ion-select-option *ngFor="let region of constantes.regions" value="{{region}}">{{region}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-select label="Country:" [(ngModel)]="competition.country" interface="action-sheet">
                <ion-select-option *ngFor="let country of constantes.countries" value="{{country[0]}}">{{country[1]}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-select label="Category:" *ngIf="!readonly" [(ngModel)]="competition.category" style="text-align: center;" interface="action-sheet">
                <ion-select-option *ngFor="let category of categories" value="{{category}}">{{category}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-select label="Category Senior:" *ngIf="!readonly" [(ngModel)]="competition.categorySenior" style="text-align: center;" interface="action-sheet">
                <ion-select-option *ngFor="let category of categories" value="{{category}}">{{category}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Owner:</ion-label>
            <ion-label>{{owner}}</ion-label>
            <ion-icon slot="end" name="search" (click)="searchOwner()"></ion-icon>
        </ion-item>
    </ion-list>
    <div *ngIf="errors && errors.length" style="margin: 5px 20px">
        <div style="color: red;">Detected errors:</div>
        <ul>
            <li *ngFor="let error of errors">{{error}}</li>
        </ul>
    </div>
    <div style="text-align: center">
        <ion-button shape="round" (click)="back()">Cancel</ion-button>
        <ion-button shape="round" (click)="saveNback()">Save</ion-button>
    </div>
</ion-content>